* {
  margin: 0;
  padding: 0;
}

body {
  background-image: var(--bg-url);
  background-size: cover;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

:root {
  --text-color: black;
  --bg-url: url(./assets/ats/banana1/yellowdot.jpeg);
  --stroke-color: rgba(255, 255, 255, 0.6);
  --surface-color: rgba(255, 255, 255, 0.4);
  --switch-bg-url: url(./assets/ats/sun.svg);
}

.dark {
  --text-color: black;
  --bg-url: url(./assets/ats/banana1/browndot.jpeg);
  --stroke-color: rgba(255, 255, 255, 0.6);
  --surface-color: rgba(255, 255, 255, 0.4);
  --switch-bg-url: url(./assets/ats/moon-stars.svg);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0px 24px;
}

#profile img {
  width: 200px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile p {
  font-weight: 700;
  align-content: center;
  font-size: 32px;
  line-height: 24px;
  margin-top: 8px;
}

#switch {
  position: relative;
  width: 64px;

  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 5;
  transform: translateY(-50%);
}

.dark #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: var(--stroke-color) 1px solid;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

#Avatar {
  width: 112px;
  height: 120px;
  border-radius: 50%;
  margin-top: 32px;
  margin-bottom: 16px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  height: 52px;
  align-items: center;

  padding: 12px 16px;
  border-radius: 8px;
  margin-bottom: 12px;

  font-weight: 700;
  color: black;
  font-size: 20px;
  display: flex;
  justify-content: center;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur (4px);
  text-decoration: none;

  transition: background-color 0.3s;
}

ul li a:hover {
  background-color: var(--stroke-color);
  border: 1.5px solid var(--text-color);
}

#social-links {
  display: flex;
  padding: 24px 0;
  font-size: 40px;
  justify-content: center;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  color: black;
}

#social-links a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 16px;
  transition: background-color 0.2s;
}
